#map

.row
  .columns
    .disaster-detail
      .text-center
        h1 Earthquake
        h2 Jakarta, Indonesia, Jan 1st, 2014 10:05PM
        = link_to 'Survival Tips', 'survival.html', class: 'button radius small'
        h3 Community's reports
        table style="width: 100%"
          thead
            tr
              th IP Address
              th Time
          tbody
            tr
              td 127.0.0.1 <span class="label radius">this is you</span> <span class="label radius alert">not varified</span>
              td 10:30PM
