.row
  .columns
    #logo= image_tag 'logo.png'
    h1.text-center Report a disaster
    ul.submit-btns
      - {'Earthquake' => true, 'Flood' => false, 'Storm' => false, 'Tsunami' => false, 'Volcano' => false, 'Wildfire' => false}.each do |event, stat|
        li= link_to image_tag("icon-#{event.downcase}.png"), 'report.html', title: "#{event} #{stat == true ? '' : '(coming soon)'}", class: stat == true ? 'enabled' : 'disabled'
